// titulos
h1.title {
    text-transform: uppercase;
    font-size: xx-large;
  }
  
  h2.title {
    text-transform: uppercase;
    font-size: x-large
  }
  
  h3.title {
    text-transform: uppercase;
    font-size: large;
  }
  
  // h4 {
  //   text-transform: uppercase;
  //   color: $primary-dark-1;
  //   line-height: 24px;
  // }